.Home {
    overflow: hidden;

    @include for-laptop-up {
        overflow: visible !important;
    }

    .home-hero-spacing {
        width: 100%;
        min-height: 100vh;
        max-width: 100%;

        max-height: 1500px;
    }

    .home-brand {
        @include page-content-margins;

        &__slogan-wrapper {
            h1 {
                margin: 0;
                margin-bottom: 0.1em;
                font-size: 2rem;
                
                @include for-tablet-up {
                    font-size: 3rem;
                }
            }

        }

        &__slogan {
            max-width: 100%;

            &.slogan-line-1 {
                @include flex-row;
                align-items: flex-start;
                flex-direction: column-reverse;

                @include for-laptop-up {
                    align-items: flex-end;
                    flex-direction: row;
                }

                & .slogan-text {
                    display: inline-block;
                }

                & .slogan-image {
                    max-width: 45%;
                    margin-left: 3em;
                    margin-bottom: 2em;
                    height: auto;
                }
            }

            &.slogan-line-3 {
                @include flex-row;
                flex-direction: column;

                @include for-laptop-up {
                    flex-direction: row;
                }

                & .slogan-text {
                    display: inline-block;

                    @include for-laptop-up {
                        white-space: nowrap;
                    }
                }

                & .slogan-subtext {
                    margin-top: 1em;
                    margin-bottom: 3em;

                    @include for-laptop-up {
                        margin-left: 2em;
                    }
                }
            }
        }

        &__slogan--mobile {
            @include for-tablet-up {
                display: none;
            }
        }

    }

    .home-brand-2 {
        @include page-content-margins;
        text-align:right;

        @include for-laptop-up {
            @include flex-row;
            text-align: left;
        }

        &__image {
            width: 40%;
            height: auto;
            margin: 0 auto;
            object-fit: contain;

            @include for-laptop-up {
                margin-left: 0;
                margin-right: 3rem;
            }
        }

        &__content {
            h1 {
                margin: 0;
                margin-bottom: 0.5em;
                font-size: 2rem;
                
                @include for-tablet-up {
                    font-size: 3rem;
                }
            }

            .slogan-subtext {
                margin-left: auto;

                @include for-tablet-up {
                    max-width: 75%;
                }

                @include for-laptop-up {
                    margin-left: 0;
                }
            }
        }
    }

    .home-situation {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        max-width: 100vw;
        position: relative;

        @media (max-width: 1500px) {
            overflow: hidden;
        }

        &__bg-text {
            width: 150%;
            max-width: 1500px;
            margin: 1rem 0;
            height: auto;

            &:first-child {
                width: 120%;
            }
        }
    }

    .home-toolbox {
        @include page-content-margins;
        text-align: center;

        &__title {
            margin: 3rem auto;
            max-width: 80%;
        }

        &__end-text {
            margin-top: 0;
            margin-bottom: 3rem;
            color: $color-mono1;
        }

        &__icons {
            @include flex-row;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            &.tiny {
                position : relative;
                margin-bottom: 0;
                padding-bottom: 5rem;

                &:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    pointer-events: none;
                    background-image: linear-gradient(to bottom, 
                        rgba($color-white, 0.2), 
                        rgba($color-white, 0.5) 50%,
                        rgba($color-white, 1) 90%);
                    width: 100%;
                    height: 10rem;
                }
            }
        }

        &__icon {
            @include flex-col;
            align-items: center;
            padding: 1.5rem;
            margin: 0.5rem;
            margin-top: 0;
            text-align: center;
            max-width: 7rem;
            transition: all 0.2s;

            svg {
                width: 3rem;
                height: 3rem;
                margin: 2rem;
                margin-top: 0;
            }
        }
        
        &__icon-tiny {
            @include flex-col;
            align-items: center;
            padding: 1rem;
            margin-top: 0;
            text-align: center;
            max-width: 5rem;
            font-size: 0.8rem;
            opacity: 0.4;
            user-select: none;

            svg {
                width: 2rem;
                height: 2rem;
                margin: 1rem;
                margin-top: 0;
            }

        }
    }

    .home-projects {
        @include page-content-margins;

        &-wrapper {
            @include flex-col;
            max-width: 100%;
            margin-bottom: 3em;
        }

        &__project {
            @include flex-row;
            align-items: center;
            margin-top: 5em;

            &-content {
                text-align: left;
                margin-right: 5em;

                &__title {
                    margin: 0;
                    text-transform: uppercase;
                }

                &__subtitle {
                    margin-top: 0;
                    margin-bottom: 1em;
                }

                &__description {
                    margin-bottom: 2em;
                }

                &__tags {
                    @include flex-row;
                    width: 100%;
                    flex-wrap: wrap;
                }
    
                &__tag {
                    padding: 0.5rem;
                    background: $color-mono2;
                    border-radius: 0.75em;
                    margin: 0.2rem;
                    user-select: none;
                    font-size: 0.8rem;
                    white-space: nowrap;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            &-image {
                width: auto;
                max-width: 20%;
                height: 100%;
            }
        }
    }


    .home-call-to-action {
    }

    .home-footer {
        text-align: center;
        width: 100%;
        padding-top: 5rem;

        hr {
            border-color: rgba($color-black, 0.05);
        }

        &-content {
            @include page-content-margins;

            p {
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
    }

    .humanoid-divider {
        height: calc(70vw * 1.5);

        @include for-tablet-up {
           height: calc(70vw * 1.2);
        }

        @include for-laptop-up {
            height: 3rem;
        }
    }

    .home-divider {
        height: 5rem;

        @include for-laptop-up {
            height: 10rem;
        }
    }
}