.Home {
    min-height: 100vh;

    .hero, .parallax {
        max-height: 1000px;
    }

    .hero {
        margin: 0 auto;
        width: fit-content;
        max-width: 90%;

        @include for-phone-only {
            max-width: 60%;
        }

        padding-top: 10vh;

        @media (min-height: 1000px) {
            padding-top: 15vh;
        }

        @media (min-height: 1500px) {
            padding-top: 250px;
        }

        @include flex-col;
        align-items: center;

        &-title {
            font-size: 1.3em;
            margin-bottom: 1em;
            text-align: center;
            @extend .t--uppercase;
        }

        &-content {
            @include flex-row;
            align-items: center;

            &__image {
                display: none;
    
                @include for-tablet-landscape-up {
                    margin-right: 2rem;
                    display: block;
                }
    
                @include for-laptop-up {
                    margin-right: 3rem;
                }
    
                img {
                    height: 9rem;
                    width: 9rem;
                }
            }
    
            &__text {
                list-style-position: outside;
                list-style-type: "/  ";
                padding-left: 0;
                flex-grow: 1;
    
                li {
                    font-size: 0.8em;
                    margin-bottom: 0.25em;
                    margin-left: 1em;
    
                    @include for-tablet-up {
                        white-space: nowrap;
                    }
                }
    
                a {
                    color: $color-primary;
                    transition: all 0.1s ease;
                }
            }
        }


    }

    .parallax {
        position: absolute;
        height: calc(100vh - 7rem);
        width: 100%;

        z-index: -1;

        .layer {
            height: 100%;
            width: 100%;

            .layer-wide {
                position: absolute;
                width: 200%;
                background-size: cover;
                background-repeat: repeat-x;
                transform: translateX(-25%);
            }
        }

        .sun {
            @extend .t--unselectable;

            position: absolute;
            bottom: 90%;
            right: 3rem;
            min-height: 5rem;
            max-height: 10%;
        }

        .birds {
            @extend .t--unselectable;
            opacity: 0.3;

            position: absolute;
            bottom: 70%;
            left: 60%;
            min-height: 5rem;
            max-height: 20%;
        }

        .mountain1 {
            bottom: 10%;

            opacity: 0.02;
            height: 100%;
            background-image: url("../../assets/images/cover/mountain-silhouette-1.png");
        }

        .mountain2 {
            bottom: 10%;

            opacity: 0.05;
            height: 80%;
            background-image: url("../../assets/images/cover/mountain-silhouette-2.png");
        }

        .mountain3 {
            bottom: 10%;

            opacity: 0.1;
            height: 75%;
            background-image: url("../../assets/images/cover/mountain-silhouette-3.png");
        }

        .forest {
            bottom: 10%;

            opacity: 0.15;
            height: 50%;
            background-image: url("../../assets/images/cover/forest-silhouette.png");
        }

        .city {
            bottom: 0%;

            height: 40%;
            background-image: url("../../assets/images/cover/city-outline.png");
        }
    }
}
