
.home-title {
    text-align: center;
    position: relative;
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;

    &__main-text {
        font-size: 3rem;
        opacity: 0.2;
        color: $color-primary;
        margin-bottom: 0;
    }

    &__sub-text {
        font-size: 1.5rem;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    &__line {
        margin-top: 2rem;
        margin-bottom: 5rem;
        hr {
            width: 6rem;
            height: 1px;
            background: $color-black;
        }
    }
}

.home-accordion-entries {
    .home-accordion-entry {
        max-height: 3rem;
        width: 100%;
    
        overflow: hidden;
        border-top: 1px solid rgba($color-black, 0.2);
        border-bottom: 1px solid rgba($color-black, 0.2);
    
        transition: max-height 0.5s ease-out;
        position: relative;
    
        &__title {
            display: block;
            outline: none;
            
            font-size: 1rem;
            font-weight: bold;
            line-height: 3rem;
            opacity: 0.5;
            transition: color 0.5s;
        }

        &__indicator {
            font-size: 1rem;
            opacity: 0.5;
            line-height: 3rem;
            font-weight: bold;
            pointer-events: none;

            position: absolute;
            right: 0;
            top: 0;
            transition: transform 0.2s ease-out, color 0.5s;
        }
    
        &__content {
            padding-bottom: 1rem;
    
            p {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    
        &.active {
            max-height: 20rem;

            .home-accordion-entry__title {
                color: $color-primary;
            }

            .home-accordion-entry__indicator {
                color: $color-primary;
                transform: rotate(90deg) scale(80%, 130%);
            }
        }
    
        &:first-child {
            border-top: none;
        }
    }
}
