
.home-title {
    text-align: center;
    position: relative;
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;

    &__main-text {
        font-size: 3rem;
        opacity: 0.2;
        color: $color-primary;
        margin-bottom: 0;
    }

    &__sub-text {
        font-size: 1.5rem;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    &__line {
        margin-top: 2rem;
        margin-bottom: 5rem;
        hr {
            width: 6rem;
            height: 1px;
            background: $color-black;
        }
    }
}
