.Contact {
    .info {
    
    }
    
    .status {
        
    }

    .city {
        @extend .t--unselectable;

        position: absolute;
        top: 7rem;
        height: calc(100vh - 7rem);
        width: 100%;
    }
    
}