.Contact {

    .Header-logo {
        position: fixed;
        top: 0;
    }

    .Content {
        background: rgba(255, 255, 255, 0.5);
    }

    .contact-info, .contact-divider, .contact-status {
        position: relative;

        pointer-events: none;
        @media (hover: none) {
            pointer-events: all;
        }

        div, a {
            pointer-events: all;
        }
    }

    .contact-info {
        margin-top: 7rem;
        min-height: calc(100vh - 7rem);

        @include flex-col;
        justify-content: center;
        align-items: center;

        &__hero {
            @include page-content-margins;
            text-align: center;
            margin-bottom: 17rem;
            margin-top: 7rem;
            position: relative;

            @include flex-col;
            align-items: center;

            @include for-tablet-up {
                margin-top: unset;
                margin-bottom: 10rem;
            }

            &-text {
                font-size: 0.8rem;

                a {
                    color: $color-primary;
                }
            }

            &-title {
                font-size: 1.3rem;
                margin-bottom: 1rem;
                @extend .t--uppercase;
            }

            &-buttons {
                margin-top: 2rem;
                @include flex-row;

                .tooltip-button {
                    margin: 0 0.5rem;
                    font-size: 1rem;
                }
            }
        }

        &__hiring-bubble {
            position: absolute;
            font-size: 0.8rem;
            width: 4rem;
            left: calc(50% + 3rem);
            top: -6rem;
            padding: 1.2rem;
            border-style: solid;
            border-color: $color-black;
            border-radius: 5rem;
            
            transform: scale(0) rotate(0deg);
            border-width: 1px;

            transform-origin: 0% 100%;
            animation-name: scale-popout-mobile;
            animation-fill-mode: forwards;
            animation-duration: 0.8s;
            animation-delay: 0.5s;
            transition: background-color 0.3s, color 0.3s;

            @include for-tablet-up {
                width: 8rem;
                left: unset;
                right: -20%;
                top: -45%;

                animation-name: scale-popout;
            }
            
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 2rem;
                bottom: -1.85rem;
                border-style: solid;
                border-width: 1.2rem;
                border-color: $color-black transparent transparent $color-black;
                transform: scaleY(0.5);
            }
            
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 2.08rem;
                bottom: -1.72rem;
                border-style: solid;
                border-width: 1.22rem;
                border-color: $color-white transparent transparent $color-white;  
                transform: scaleY(0.5);
                transition: border-color 0.3s;
            }

            @keyframes scale-popout {
                from {
                    transform: scale(0) rotate(0deg);
                }
                to {
                    transform: scale(100%) rotate(20deg);
                }
            }

            @keyframes scale-popout-mobile {
                from {
                    transform: scale(0);
                }
                to {
                    transform: scale(100%);
                }
            }

            span {
                color: $color-primary;
                transition: color 0.3s;
            }

            &__text {
                display: none;
                @include for-tablet-up {
                    display: inline;
                }

            }
            &__text-mobile {
                @include for-tablet-up {
                    display: none;
                }
            }

            &:hover {
                background-color: $color-primary;
                color: $color-white;

                &:after {
                    border-color: $color-primary transparent transparent $color-primary;
                }

                span {
                    color: $color-white;
                }
            }
        }

        &__mouse-scroll {
            font-size: 0.4rem;
            position: fixed;
            bottom: 2.5rem;
        }
    }

    .contact-divider {
        height: 50vh;
        width: 100%;
    }
    
    .contact-status {
        @include flex-col;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        color: $color-white;

        &__location {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            max-width: 60%;
            margin-top: 16rem;
        }
        
        &__text {
            @extend .t--uppercase;
            font-size: 2rem;
            font-weight: bold;
            max-width: 60%;
            
            span {
                text-decoration: underline;
                text-decoration-thickness: 0.2rem;
            }
            span.active {
                color: $color-primary;
            }
            span.inactive {
                color: $color-accent;
            }
        }

        &__availability {
            text-decoration: inherit;
            color: var(--text-color);
            font-size: 1em;
            margin-bottom: 0.5rem;
            max-width: 60%;
            margin-top: 2rem;
            margin-bottom: 8rem;

            &:hover {
                color: $color-white;
            }

        }
    }

    .city {
        @extend .t--unselectable;

        background: rgba(255, 255, 255, 0.5);

        .city-canvas {
            position: fixed !important;
            top: 0;
            left: 0;
            height: 100vh;
        }
    }
}