// default colors
$color-primary: #77a6f7;      // dominant color
$color-secondary: #d3e3fc;    // secondary color
$color-accent: #ff9790;       // accent (highlights), can have multiple

$color-error: #53beae;          // error color - usually red
$color-confirm: #00887a;        // approval color - usually green

$color-black: #000;           // black
$color-mono1: #a5a7bd;        // darker monochrome
$color-mono2: #f3f5fa;        // lighter monochrome
$color-white: #fff;           // white


:export {
    primary: $color-primary;
    secondary: $color-secondary;
    accent: $color-accent;
    error: $color-error;
    confirm: $color-confirm;

    black: $color-black;
    mono1: $color-mono1;
    mono2: $color-mono2;
    white: $color-white;
}