.Header-logo, .Header-fixed {
    max-height: 7rem;
}

.Header-logo {
    @include flex-col;
    justify-content: center;

    padding: 2.5rem 5rem;

    @include for-phone-only {
        padding: 2.5rem 3rem;
    }

    svg {
        height: 2em;
        width: 3rem;
    }

    z-index: 998;
}

.Header-fixed {
    position: fixed;
    top: 0;
    @include flex-row;
    width: 100%;
    place-content: flex-end;
    align-items: center;
    pointer-events: none;

    z-index: 999;

    .header__link {
        font-size: 1rem;
        white-space: nowrap;
        display: inline-block;
        pointer-events: all;

        &.current {
            display: none;
        }
    }

    .header__link-menu {
        padding: 1rem 4rem 1rem 3rem;
    
        @include for-phone-only {
            padding: 1rem 3rem;
        }
    }

    svg {
        width: 5em;
        height: 5em;
    }
}