.Header-fixed {
    max-height: 7rem;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    @include flex-row;
    width: 100%;
    place-content: space-between;
    align-items: center;
    pointer-events: none;

    z-index: 999;

    .header-logo {
        pointer-events: all;
        padding: 2.5rem 5rem;

        @include for-phone-only {
            padding: 2.5rem 3rem;
        }

        height: 1.6em;
        width: 3rem;
    }

    .header__link {
        font-size: 1rem;
        white-space: nowrap;
        display: inline-block;
        pointer-events: all;

        &.current {
            display: none;
        }
    }

    .header__link-menu {
        padding: 1rem 4rem;
        padding-left: 3rem;
    
        @include for-phone-only {
            padding: 1rem 1.5rem;
            padding-left: 3rem;
        }
    }

    // TEMPORARY __
    .header__link {
        padding: 3rem 5rem;
    
        @include for-phone-only {
            padding: 3rem;
        }
    } 
    // TEMPORARY ^^

    .header__link-menu button {
        svg {
            width: 5em;
            height: 5em;
        }
    }
}