#menu-button {
    path {
        fill: none;
        transition: all 0.5s cubic-bezier(0.250,-0.250, 0.750, 1.250);
        stroke-width: 35px;
        stroke-linecap: round;
        stroke: $color-primary;
        stroke-dashoffset: 0;
    }

    #top, #bottom {
        stroke-dasharray: 240px 950px;
    }

    #middle {
        stroke-dasharray: 240px 240px;
    }
}

#menu-button.cross {
    #top, #bottom {
        stroke-dashoffset: -650px;
    }
    #middle {
        stroke-dashoffset: -115px;
        stroke-dasharray: 1px 220px;
    }
}