.About {
    .about {
        @include page-content-margins;
        margin-top: 7rem;

        &__timeline {
            list-style-position: outside;
            list-style-type: "/  ";
            padding-left: 0;
            margin: 0 auto;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}