.About {
    .about-timeline {
        @include page-content-margins;
        
        list-style-position: outside;
        list-style-type: "/  ";
        padding-left: 0;
        margin: 0 auto;
        margin-top: 7rem;

        li {
            margin-bottom: 1rem;
        }
    }
}