#gear-1, #gear-2, #gear-3, #gear-4 {
    animation-name: gear-spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}

#gear-1  {
    animation-duration: 10000ms;
    animation-direction: reverse;
    transform-origin: 32% 58%;
}

#gear-2  {
    animation-duration: 2500ms;
    transform-origin: 66.6% 17.3%;
}

#gear-3  {
    animation-duration: 6000ms;
    transform-origin: 82% 58%;
}

#gear-4  {
    animation-duration: 2000ms;
    transform-origin: 65.7% 88.7%;
}

.gear-wrapper {
    overflow: visible;
}

.gear-wrapper:hover {
    #gear-1, #gear-2, #gear-3, #gear-4 {
        animation-play-state: paused;
    }
}

@keyframes gear-spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}