@import "../mixins/breakpoints.module";

.Page {
    width: 100vw;
}

.Page--single {
    @extend .Page;
    .Content {
        height: calc(100vh - 7rem);
    }
}

.Page--magazine {
    @extend .Page;
    height: auto;
    overflow: hidden;
    max-width: 100vw;

    @include for-widescreen-up {
        max-width: $breakpoint-widelimit;
        margin: 0 auto;
    }
}
